//OPEN SANS FONT
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic-ext);
@font-face {
  font-family: 'geometric_706black';
  src: url('../fonts/Geometric706B/9212-webfont.eot');
  src: url('../fonts/Geometric706B/9212-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometric706B/9212-webfont.woff2') format('woff2'),
  url('../fonts/Geometric706B/9212-webfont.woff') format('woff'),
  url('../fonts/Geometric706B/9212-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geometric_706medium';
  src: url('../fonts/Geometric706M/9211-webfont.eot');
  src: url('../fonts/Geometric706M/9211-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometric706M/9211-webfont.woff2') format('woff2'),
  url('../fonts/Geometric706M/9211-webfont.woff') format('woff'),
  url('../fonts/Geometric706M/9211-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'RainTungstenMediumRegular';
  src: url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.eot');
  src: url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.woff2') format('woff2'),
  url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.woff') format('woff'),
  url('../fonts/RainTungstenMediumRegular/RainTungstenMediumRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin geoBlack($size) {
  font-family: "geometric_706black";
  font-size: $size;
  font-weight: normal;
}
@mixin geoMedium($size) {
  font-family: "geometric_706medium";
  font-size: $size;
  font-weight: normal;
}
@mixin rain($size) {
  font-family: "RainTungstenMediumRegular";
  font-size: $size;
  font-weight: normal;
}

@mixin ops($size) {
  font-family: "Open Sans";
  font-size: $size;
  font-weight: normal;
}
