.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .7);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  @include transition(all .2s ease-out);
  &.active {
    visibility: visible;
    opacity: 1;
    .modal__wrapper {
      margin-top: -150px;// EDIT THIS! BISECT THE -HEIGHT
    }
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;// EDIT THIS!
    height: 325px;// EDIT THIS!
    margin-left: -200px;// EDIT THIS! BISECT THE -WIDTH
    background: #fff;
    @include transition(all .2s ease-out);
    margin-top: -500px;
  }
  &__close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    border: 2px solid #fff;
    @include border-radius(50%);
    color: #fff;
    font-size: 30px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    top: -30px;
    right: -30px;
    cursor: pointer;
    border-color: transparent;
    cursor: pointer;
    @include transition(border-color .15s ease-out);
    &:hover {
      border-color: #fff;
    }
  }
  &__inner {

  }
}
.callback-modal {
  &.active {
    .modal__wrapper {
      margin-top: -168px;
    }
  }
  .modal__wrapper {
    border: 10px solid $blue;
    width: 346px;
    margin-left: -173px;
    background: #ececec;
    padding: 15px 0;
  }
  .modal__close {
    top: -40px;
    right: -40px;
  }
  .modal__title {
    display: block;
    text-align: center;
    @include rain(33px);
    padding: 5px 0;
    color: $blue;
  }
  .modal__subtitle {
    display: block;
    text-align: center;
    @include rain(20px);
    padding: 5px 0;
    color: $darkgrey;
  }
  .modal__input-wrapper {
    width: 100%;
    margin: 18px auto;
  }
  .modal__input {
    padding: 10px 20px;
    display: block;
    @include rain(22px);
    text-align: center;
    background: transparent;
    color: $blue;
    height: 40px;
    line-height: 38px;
    padding: 18px 15px;
    border: 2px solid rgba($blue,.7);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 194px;
    margin: 0 auto;
    &::-webkit-input-placeholder {color:$blue;}
    &::-moz-placeholder          {color:$blue;}/* Firefox 19+ */
    &:-moz-placeholder           {color:$blue;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:$blue;}
  }
  .modal__button {
    display: block;
    height: 40px;
    @include rain(22px);
    color: $darkgrey;
    background: transparent;
    border: 1px solid $yellow;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 194px;
    margin: 10px auto;
    @include transition(color .2s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $yellow;
      top: 0;
      left: 0;
      @include transition(all .2s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 38px;
    }
    &:hover {
      color: $darkgrey;
      &:after {
        top: 100%;
      }
    }
    &:active {
      @include box-shadow(0 0 10px 0 rgba(darken($yellow, 10%), .8) inset);
    }
  }
  .modal__label {
    display: block;
    text-align: center;
    @include rain(15px);
    padding-bottom: 5px;
    color: $darkgrey;
  }
  label.error {
    display: block;
    text-align: center;
    color: $red;
    font-size:14px;
    position: absolute;
    left: 50%;
    width: 100%;
    margin-left: -50%;
  }
}
.response-modal {
  @extend .callback-modal;
  .modal__title {
    padding: 40px 10px 0;
  }
}
