.ui-state-default,.ui-widget-content {
  background: #eaeaea;
  font-weight: normal;
  border: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-bottom {
  @include border-radius(0);
}
.ui-selectmenu-button {
  span {
    &.ui-selectmenu-text {
      @include rain(18px);
      line-height: 25px;
      padding: 0 35px 0 13px;
      color: rgba(#000, .5);
      border: 0;
    }
    &.ui-icon {
      opacity: .5;
    }
  }
}
.ui-state-focus, .ui-widget-content .ui-state-focus {
  border: none;
  color: rgba(#000, .5);
  font-weight: normal;
  margin: 0;
  background: darken(#eaeaea, 10%);
}
.ui-menu .ui-menu-item {
  @include rain(18px);
  list-style: none;
}
